[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-jazzmin = "*"
django-unicorn = "*"
djangorestframework = "*"
django-storages = "*"
boto3 = "*"
python-dotenv = "*"
pytz = "*"
simplejson = "*"
unicodecsv = "*"
argparse = "*"
Django = "*"

[dev-packages]

[requires]
python_version = "3.9"
