
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'institutions_Institution_list' %}">
    Institution Listing
    </a>
</p>
    
<table class="table">
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>name</td><td>{{ object.name }}</td></tr>
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>date_re_registered</td><td>{{ object.date_re_registered }}</td></tr>
    <tr><td>date_licensed</td><td>{{ object.date_licensed }}</td></tr>
    <tr><td>old_name</td><td>{{ object.old_name }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}